<html>
  <head>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <div id="container"></div>
    <script>
      (function (d) {
        function sayHello() {
          console.log("hello world");
          var p_element = d.createElement("p");
          p_element.innerHTML = "hello world";
          d.getElementById("container").appendChild(p_element);
        }
        var duration = 5000; //in milliseconds
        setInterval(sayHello, duration);
      })(document);
    </script>
  </body>
</html>
